<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Nuevo Enlace')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">
    <div th:replace="layout :: flash"></div>
    <h3 class="mt-4 mb-3" th:text="${actionTitle}"></h3>

    <form th:action="${action}" th:object="${enlaceRubrica}" method="post">
        <input type="hidden" name="id" th:field="*{id}">
        <div class="form-group">
            <label for="periodo">Periodo</label>
            <select name="periodo" id="periodo" class="custom-select">
                <option th:each="periodo : ${periodos}" th:field="*{periodo}" th:value="${periodo.id}" th:text="${periodo.nombre}"></option>
            </select>
        </div>
        <h4 class="mt-2 mb-2">Rubricas</h4>
        <div class="form-group">
            <div class="custom-control custom-switch mb-2" th:each="rubrica, stat : ${rubricas}">
                <input type="checkbox" class="custom-control-input" th:id="rubrica- + ${stat}" th:value="${rubrica.id}" th:field="*{rubricas[__${stat.index}__]}">
                <label class="custom-control-label" th:for="rubrica- + ${stat}" th:text="${rubrica.nombre}"></label>
            </div>
        </div>

        <div class="text-lg-right mt-3 mb-4">
            <button type="submit" class="btn btn-success d-lg-inline d-block submit-btn" th:text="${actionBtn}"></button>
        </div>
    </form>

</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>