/* Base styles */
body {
    font-family: 'Lato', sans-serif;
}

span.field-error {
    color: firebrick;
}

input[type="text"].field-error,
textarea.field-error {
    border: 1px solid firebrick;
    border-bottom: 3px solid firebrick;
}

.flash p {
    display: block;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
    cursor: pointer;
}

.flash i {
    vertical-align: middle;
    font-size: 15px;
}

.flash .failure {
    background-color: firebrick;
}

.flash .success {
    background-color: rgb(46,125,50);
}

.btn-icon i {
    vertical-align: middle;
}

/* rubricas */

.add-rubrica-btn {
    font-size: 15px;
}

.add-rubrica-btn i {
    font-size: 18px;
}