<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Home')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container-fluid">
    <h3 class="mt-4 mb-3" th:text="${actionTitle}"></h3>

    <form th:action="${action}" th:object="${rubricaFormHelper}" method="post">
        <input type="hidden" name="id" th:field="*{id}">
        <div class="form-group">
            <label for="nombre">Nombre <span class="field-error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span></label>
            <input type="text" class="form-control" id="nombre" placeholder="Rúbrica" name="nombre" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')} ? 'field-error' : ''">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" placeholder="..." rows="3" name="descripcion" th:field="*{descripcion}"></textarea>
        </div>
        <h4 class="mt-2 mb-2">Indicadores</h4>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Criterio</td>
                        <td>Descripción</td>
<!--                        <td>Mínimo</td>-->
<!--                        <td>Máximo</td>-->
                        <td>Función</td>
                        <td>Condición</td>
                        <td>Recomendaciones</td>
                    </tr>
                    </thead>
                    <tbody id="newIndicadoresTable">
                    <tr th:each="indicador, stat : ${rubricaFormHelper.indicadores}">
                        <td>
                            <input type="text" class="form-control indicator-input" th:id="nombre- + __${stat.index}__" name="nombre" th:value="${indicador.nombre}" th:field="*{indicadores[__${stat.index}__].nombre}" th:classappend="${#fields.hasErrors('indicadores[__${stat.index}__].nombre')} ? 'field-error' : ''">
                            <span class="field-error" th:if="${#fields.hasErrors('indicadores[__${stat.index}__].nombre')}" th:errors="*{indicadores[__${stat.index}__].nombre}"></span>
                            <input type="hidden" class="indicator-input" th:id="id- + __${stat.index}__" name="id" th:value="${indicador.id}" th:field="*{indicadores[__${stat.index}__].id}">
                        </td>
                        <td>
                            <input type="text" class="form-control indicator-input" th:id="criterio- + __${stat.index}__" name="criterio" th:value="${indicador.criterio}" th:field="*{indicadores[__${stat.index}__].criterio}" th:classappend="${#fields.hasErrors('indicadores[__${stat.index}__].criterio')} ? 'field-error' : ''">
                            <span class="field-error" th:if="${#fields.hasErrors('indicadores[__${stat.index}__].criterio')}" th:errors="*{indicadores[__${stat.index}__].criterio}"></span>
                        </td>
                        <td>
                            <input type="text" class="form-control indicator-input" th:id="descripcion- + __${stat.index}__" name="descripcion" th:value="${indicador.descripcion}" th:field="*{indicadores[__${stat.index}__].descripcion}" th:classappend="${#fields.hasErrors('indicadores[__${stat.index}__].descripcion')} ? 'field-error' : ''">
                            <span class="field-error" th:if="${#fields.hasErrors('indicadores[__${stat.index}__].descripcion')}" th:errors="*{indicadores[__${stat.index}__].descripcion}"></span>
                        </td>
                        <td>
                            <textarea rows="1" class="form-control indicator-input" th:id="funcion- + __${stat.index}__" name="funcion" th:value="${indicador.funcion}" th:field="*{indicadores[__${stat.index}__].funcion}" th:classappend="${#fields.hasErrors('indicadores[__${stat.index}__].funcion')} ? 'field-error' : ''"></textarea>
                            <span class="field-error" th:if="${#fields.hasErrors('indicadores[__${stat.index}__].funcion')}" th:errors="*{indicadores[__${stat.index}__].funcion}"></span>
                        </td>
                        <td>
                            <textarea rows="1" class="form-control indicator-input" th:id="condicion- + __${stat.index}__" name="condicion" th:value="${indicador.condicion}" th:field="*{indicadores[__${stat.index}__].condicion}" th:classappend="${#fields.hasErrors('indicadores[__${stat.index}__].condicion')} ? 'field-error' : ''"></textarea>
                            <span class="field-error" th:if="${#fields.hasErrors('indicadores[__${stat.index}__].condicion')}" th:errors="*{indicadores[__${stat.index}__].condicion}"></span>
                        </td>
                        <td>
                            <textarea rows="1" class="form-control indicator-input" th:id="recomendaciones- + __${stat.index}__" name="recomendaciones" th:value="${indicador.recomendaciones}" th:field="*{indicadores[__${stat.index}__].recomendaciones}"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" id="addIndicator">Agregar indicador</button>

        <h4 class="mt-4 mb-2">Indicadores existentes</h4>
        <div class="row">
            <div class="col-12 table-responsive" id="existingIndicadoresTable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Criterio</th>
                            <th>Descripción</th>
                            <th>Función</th>
                            <th>Condición</th>
                            <th>Recomendaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="existingIndicador, stat : ${existingIndicadores}">
                            <td>
                                <div class="custom-control custom-switch mb-2">
                                    <input type="checkbox" class="custom-control-input" th:id="existingIndicador- + ${stat.index}" th:value="${existingIndicador.id}" th:field="*{existingIndicadores}">
                                    <label class="custom-control-label" th:for="existingIndicador- + ${stat.index}" th:text="${existingIndicador.nombre}"></label>
                                </div>
                            </td>
                            <td><p th:text="${existingIndicador.criterio}"></p></td>
                            <td><p th:text="${existingIndicador.descripcion}"></p></td>
                            <td><p th:text="${existingIndicador.funcion}"></p></td>
                            <td><p th:text="${existingIndicador.condicion}"></p></td>
                            <td><p th:text="${existingIndicador.recomendaciones}"></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-lg-right mt-3 mb-4">
            <button type="submit" class="btn btn-success d-lg-inline d-block submit-btn" th:text="${actionBtn}"></button>
        </div>
    </form>

</div>

<div th:replace="layout :: scripts"></div>
<script th:inline="javascript">
    var i = 1;
    var currentId = 0;
    $("#addIndicator").click(function() {
        $("#newIndicadoresTable tr:last").clone().find(".indicator-input").each(function() {
            var currentClass = 'nombre';
            $(this).val('').attr('id', function(_, id) {
                currentClass = id.split('-')[0];
                currentId = parseInt(id.split('-')[1], 10) + 1;
                console.log(currentId)
                return currentClass + '-' + currentId;
            });
            $(this).val('').attr('name', function(_, id) {
                return `indicadores[${currentId}].${currentClass}`
            });
        }).end().appendTo("tbody");
        i++;
    });
</script>
</body>
</html>